<script setup>
import { ref } from 'vue'

const noteTitle = ref("Hello there");
const noteStatus = ref("safe");


function makeSafe() {
  noteStatus.value = "safe";
}

function makeDanger() {
  noteStatus.value = "danger"
}

function isSafe() {
  return noteStatus.value === "safe";
}

function isDanger() {
  return noteStatus.value === "danger";
}



</script>

<template>
  <div class="notes-container">
    <div class="note" :class="{safe: isSafe(), danger: isDanger()}">
      <h2>{{ noteTitle }}</h2>
      <button @click="makeSafe">Make safe</button>
      <button @click="makeDanger">Make danger</button>
    </div>
  </div>
</template>


<style lang="scss" scoped>
@use 'assets/mediaQueryScreens.scss' as *;

$gutter-size: 15px;

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-right: auto;
  margin-left: auto;

  border: 1px solid gray;
  border-radius: 10px;

  padding: $gutter-size;
}

.note {
    background-color: yellow;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: $gutter-size;

    &.safe {
      background-color: green;
    }

    &.danger {
      background-color: red;
    }
}

@include smallScreen {
  .notes-container {
    width: 90vw;
  }

  .note {
    width: 100%;
  }
}

@include mediumScreen {
  .notes-container {
    width: 80vw;
  }

  .note {
    width: calc((100% - $gutter-size) / 2);
  }
}

@include largeScreen {
  .notes-container {
    width: 1024px;
  }

  .note {
    width: calc((100% - ($gutter-size * 2)) / 3);
  }
}
</style>
