<script setup>
import { ref } from 'vue'
import Note from './Note.vue'


const notesList = ref([{
  title: "My first note",
  id: 1
}, {
  title: "My second note",
  id: 2
}, {
  title: "My third note",
  id: 3
}]);

function printNoteMsg(noteId, msg) {
  console.log(`Note ${noteId} sent : ${msg}`)
}

</script>

<template>
  <div class="notes-container">
    <Note 
      v-for="note in notesList" 
      :key="note.id" 
      :title="note.title"
      @new-message="printNoteMsg(note.id, $event)"
    ></Note>
  </div>
</template>


<style lang="scss" scoped>
@use 'assets/mediaQueryScreens.scss' as *;

$gutter-size: 15px;

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-right: auto;
  margin-left: auto;

  border: 1px solid gray;
  border-radius: 10px;

  padding: $gutter-size;
}

@include smallScreen {
  .notes-container {
    width: 90vw;
  }

}

@include mediumScreen {
  .notes-container {
    width: 80vw;
  }

}

@include largeScreen {
  .notes-container {
    width: 1024px;
  }
}
</style>
