<script setup>
import { ref } from 'vue'

const noteTitle = ref("Hello there");
</script>

<template>
    <div class="note">
        <h2>{{ noteTitle }}</h2>
        <input v-model="noteTitle">
    </div>
</template>


<style lang="scss" scoped>
@use 'assets/mediaQueryScreens.scss' as *;

$gutter-size: 15px;



.note {
    background-color: yellow;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: $gutter-size;

    &.safe {
      background-color: green;
    }

    &.danger {
      background-color: red;
    }
}

@include smallScreen {
  .note {
    width: 100%;
  }
}

@include mediumScreen {
  .note {
    width: calc((100% - $gutter-size) / 2);
  }
}

@include largeScreen {
  .note {
    width: calc((100% - ($gutter-size * 2)) / 3);
  }
}
</style>
