<script setup>
import { ref } from 'vue'

const noteTitle = ref("Hello there");
const message = ref("");


function printMessage() {
  console.log(message.value);
}
</script>

<template>
  <div class="notes-container">
    <div class="note">
      <h2>{{ noteTitle }}</h2>
      <button @click="printMessage">Print message</button>
      <input v-model="message" placeholder="Enter message here">
    </div>
  </div>
</template>


<style lang="scss" scoped>
@use 'assets/mediaQueryScreens.scss' as *;

$gutter-size: 15px;

.notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin-right: auto;
  margin-left: auto;

  border: 1px solid gray;
  border-radius: 10px;

  padding: $gutter-size;
}

.note {
    background-color: yellow;
    min-height: 200px;
    border-radius: 10px;
    margin-bottom: $gutter-size;

    &.safe {
      background-color: green;
    }

    &.danger {
      background-color: red;
    }
}

@include smallScreen {
  .notes-container {
    width: 90vw;
  }

  .note {
    width: 100%;
  }
}

@include mediumScreen {
  .notes-container {
    width: 80vw;
  }

  .note {
    width: calc((100% - $gutter-size) / 2);
  }
}

@include largeScreen {
  .notes-container {
    width: 1024px;
  }

  .note {
    width: calc((100% - ($gutter-size * 2)) / 3);
  }
}
</style>
